<h1>Get All Logged In!</h1>

<%= form_tag "/session" do %>
<%= label_tag :email %>
<%= email_field_tag :email %>
<%= label_tag :password %>
<%= password_field_tag :password %>
<%= submit_tag "Log In!" %>

<% end %>