<h2>Oh Hey <%= @user.first_name %>!</h2>


<h2 class="errors" ><%= flash[:error] unless flash[:error].nil? %></h2>

<div id="favorites">
  <p><h3>list of fav's:</h3> </p>
  <% @restaurants.each do |restaurant| %>
  <a href="<%= restaurant.url %>"><%= restaurant.name %> </a>
  <%= restaurant.address %> </br>
    <div id="delete">
    <%= form_tag restaurant_path(restaurant.id), method: "delete" do %>
      <%= submit_tag("delete") %>
    </div>
      <% end %>
  <% end %>
</div>



<p><%= link_to "Edit My Info", edit_user_path(@user) %></p>

<%= form_tag user_path(@user), method: "delete" do %>
  <%= submit_tag("Rid My Life Of This Account") %>
<% end %>

<p><%= link_to "Check Out Our Super Trendy Apps and Sides!", ingredients_path %></p>