<%= link_to "Add A New Ingredient!", new_ingredient_path %>
<h1>Sides and Apps You Should Be Ordering</h1>
<h2>Right Now</h2>

<ul>
  <%= @ingredients.each do |ingredient| %>
  <a href="/ingredients/<%= ingredient.id %>">
  <li><%= ingredient.name %></li>
  <li><img src="<%= ingredient.photo_url %>" width="400"></a></li>
  </a>
  <%end %>

</ul>



