<h1>Go Get Yourself Some <%= @ingredient.name %>!</h1>

<%= form_tag neighborhood_ingredient_path(@ingredient.id) do %>
  <%= label_tag :neighborhood, "Neighborhood" %>
  <%= text_field_tag(:neighborhood) %>
  <%= submit_tag("submit!") %>
  <% end %>


<p><%= link_to "Back To Our Super Trendy Apps and Sides Index!", ingredients_path %></p>