<h1>Go Get Yourself Some <%= @ingredient.name %>!</h1>

<%= form_tag neighborhood_ingredient_path(@ingredient.id) do %>
  <%= label_tag :neighborhood, "Neighborhood" %>
  <%= text_field_tag(:neighborhood) %>
  <%= submit_tag("submit!") %>
  <% end %>

<p><%= link_to "Edit", edit_ingredient_path(@ingredient) %></p>
<%= form_tag ingredient_path(@ingredient), method: "delete" do %>
  <%= submit_tag("Delete!") %>
<% end %>
<p><%= link_to "Back To Our Super Trendy Ingredients Index!", ingredients_path %></p>