<!DOCTYPE html>
<html>
<head>
  <title>OnTheSide</title>
  <link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag  "https://maps.googleapis.com/maps/api/js?key=GOOGLE_JS_MAPS_KEY&sensor=false"%>
  
  <%= csrf_meta_tags %>
</head>
<body>

 <div id="wrapper"> 

  <header>
 <div id="logo">
    <h1>On The Side </h1>
    <h2>New York Sides and Apps You Should Be Ordering. </h2>
  </div>

  <div id="navcontainer">
    <ul>

    <li><%= link_to("Log In","/login") if session[:user_id].nil? %></li>
    <li><%= link_to("Log Out #{User.find_by(id: session[:user_id]).first_name}!", "/session", method: "delete") unless session[:user_id].nil? %></li>
    <li><%= link_to("My Favs", user_path(current_user)) if logged_in? %></li>
    </ul>
  </div>

</header>

<%= yield %>

</div>
</body>
</html>
