<!DOCTYPE html>
<html>
<head>
  <title>OnTheSide</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
 

<%= link_to "Home", root_path %>
<p><%= link_to("Please Log In!","/login") if session[:user_id].nil? %></p>
<p><%= link_to("Log Out #{User.find_by(id: session[:user_id]).first_name}!", "/session", method: "delete") unless session[:user_id].nil? %></p>


</header>

<%= yield %>

<h5>Session: </h5>
<%= debug session.to_hash %>
<br/>

</body>
</html>
